@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
    margin: 3px;
    padding: 0px;
    text-align: justify;
    background: rgb(97, 193, 0);
}

.center {
    text-align: center;
}

article {
    margin: 30px;
}

h1 {
    text-align: center;
}


header, nav, main, aside, footer {
    background-image: url("https://cdn.pixabay.com/photo/2017/02/10/16/27/abstract-2055560_1280.jpg");
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
}

header {
    height: 100px;
    flex: 1 1 100vw;
}

header #logo {
    display: flex;
    flex: 0 1 100px;
    background: #c9c9c9;
    justify-content: center;
    align-items: center;
}

#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}

nav {
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 200px;
    font-weight: bolder;
}

nav a {
    margin: 0 3%;
    font-size: 15pt;
}

main {
    height: calc(100vh - 224px);
    flex: 20 1 500px;
}

aside {
    flex: 1 1 200px;
}

footer {
    text-align: center;
    align-items: center;
    height: 100px;
    flex: 1 1 100vw;
   justify-content: center;
}

a {
text-decoration: none;
color: inherit;
}

@media only screen and (max-width: 717px) {
    #openMenu, #closeMenu {
        display: block;
    }

    #openMenu {
        margin-left: auto;
    }

    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    nav{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }

    nav a {
        margin: 3%;
    }

    main{
        height: calc(100vh * 330px);
    }

    aside {
        height: 100px;
    }
}
